{% extends "Layout.html" %}

{% block content %}
    <h1>Branch Table</h1>

    <table class="table">
    <thead>
        <tr>
            <th>
                Branch Number
            </th>
            <th>
                Branch Name
            </th>
            <th>
                Branch Location
            </th>
        </tr>
    </thead>

    {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}