{% extends "Layout.html" %}

{% block content %}

<h1>Wrote Table</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                Book Code 
            </th>
            <th>
                Author Number
            </th>
            <th>
                Sequence
            </th>
        </tr>
    </thead>

    {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}